

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

 

.ib__sc__form-group{
  margin-bottom: 1em;
}

.ib__sc-form-control {
  display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    box-sizing: border-box;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.ib__sc__btn{
  color: #5b5b5b;
  background-color: #E0E0E0;
  border-color: #9E9E9E;
  display: inline-block;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  cursor: pointer;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.ib__sc__btn.active {
 
  background-color: #b6b6b6;
  border-color: #adadad;

}
.ib__sc__btn:hover {
 
  background-color: #b6b6b6;
  border-color: #adadad;

}
.ib__sc__btn-group{
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  display: table-cell;
  border-radius: 6px;
  overflow: hidden;
}
.ib__sc__btn-group .ib__sc__btn{
  border-radius: 0;

  
}
.ib__sc__btn-group .ib__sc__btn{
  border-left: 1px solid #ccc;
}
.ib__sc__btn-group .ib__sc__btn:first-child {
  border-top-left-radius:  0.25rem;
  border-bottom-left-radius: 0.25rem;
  border-left: none
}

.ib__sc__btn-group .ib__sc__btn:last-child {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius:  0.25rem;
}

.ib__sc__truncate {
 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


/* Ib table */



.ib__sc__table-out-week{
  display: flex;
  width: 100%;
  overflow-y: scroll;
}
.ib__sc__table-out-week::-webkit-scrollbar {
  width: .4em;
  border-radius: 1em;
}
 
.ib__sc__table-out-week::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(154, 154, 154, 0.3);
  border-radius: .3em;
}
 
.ib__sc__table-out-week::-webkit-scrollbar-thumb {
  background-color: rgb(211, 211, 211);
  outline: 1px solid rgb(173, 181, 190);
}
.ib__sc__week-date{
  display: flex;
  justify-content: center;
  margin-bottom: 1.5em;

}
.ib__sc__week-date-btn-group{
  display: flex;
  justify-content: center;
  border: 1px solid #e8e8e8;
  padding: 5px;
  border-radius: 4px;
}
.ib__sc__week-date__bt-prev,.ib__sc__week-date__bt-next {
  width: 1.8em;
  line-height: 1em;
}
.ib__sc__week-date__bt-text .ib__sc-form-control{
  width:auto;
  border: none;
 

}
 

.ib__sc__table-week{

 border-spacing: 0;
 z-index: 1003;
 margin-bottom: 100px;
}


.ib__sc__table-td-week{
  position: relative;
  flex: 1 1;
  box-sizing: border-box;
  padding: 0;
  border: none;
  margin-left: -1px;
}

.ib__sc__table-hr-box-week {
  background: #ffffff;
  border-top: 1px dashed #dbdbdb;
  margin-top: -1px;
}
.ib__sc__tb_week_time .ib__sc__table-hr-box-week{
  border-top: 1px solid #fff;
}
.ib__sc__tb_week_time .ib__sc__table-hr-box-week small{
  margin-top:-1em;
}
.ib__sc__table-th{
  text-align: center;
top:0;
position: sticky;
z-index: 1001;
padding: 10px;
background: #f6f6f6;
border: 1px solid #ccc;

}
.ib__sc__table-th-week{
  border: 1px solid #000;
  text-align: center;
}

.ib__sc__tb-wrapper-week{
  display: flex;
 width: 100%;
}
.ib__sc__cell{
  
  border: 1px dashed #ccc;
 
 

}
.ib__sc__cell-wrapper{
 
  position: relative;
  margin: 0px;
  width:100%;
  height:100%;

}
.ib__sc__event-wrapper{
  position: absolute;
  overflow: hidden;

 
 
}
.ib__sc__event{
 
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  text-align: left;
  padding: 5px 10px;
}
.ib__sc__event-box{
  padding: 0px;
  width: 100%;
  height: 100%;
  border-radius: 0.5em;
  text-align: center;
  box-sizing: border-box;
  border: 0.001em solid #ffffff;
  overflow: hidden;
}
.dragging-handler-week{
  display: none;
}

.ib__sc__event-box:hover .dragging-handler-week{
  display: block;

}
.dragging-handler-week{

  position: absolute;
  cursor:re-resize;
  left: 1px;
  right: 1px;
  height: 12px;
  z-index: 100;
  background: #ededed;
  line-height: 10px;
  color: #777;
  opacity: .8;
}

.dragging-handler-week.top{
  cursor: s-resize;
  top: 0px;
}
.dragging-handler-week.bottom{
  cursor: s-resize;
  bottom: 0px;
}

.resize-event-bg{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: rgb(139 139 139 / 27%);
  opacity: 1;
  z-index: 100;
}


.placeholder {
  /* display: none; */
  cursor: move; 
  cursor: grab;
  position: absolute;
  pointer-events: none;
  border: 1px dashed black;
  background: red;
}

.ib__sc__daybar-week{
  width: 100%;
  height: 2px;
  position: absolute;
  background: #03A9F4;
  z-index: 1004;
  box-shadow: 0px 0px 4px 0px #98e7ff;
}

.ib__sc__table-hr-box-week.ib__sc__week-time {
  font-size: .7em;
  text-align: right;
  line-height: 1em;
  color: #9e9e9e;
  width: 72px;
  padding-right: 3px;
}
 
 


/* Add Event popup */

.ib__sc-modal {
  position: fixed;
  z-index: 1100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* display: none; */
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.ib__sc-modal-content {
background-color: white;
    padding: 20px;
    width: 90%;
    border-radius: 5px;
    max-width: 400px;
    position: relative;
}
.ib__sc__close-modal-btn{
  position: absolute;
    right: 0;
    top: 0;
    line-height: 20px;
    height: 20px;
    width: 20px;
    font-weight: 700;
    font-size: 24px;
    background: white;
    text-align: center;
    color: #ccc;
    cursor: pointer;
}
.ib__sc__modal_footer{
display: flex;
justify-content: space-between;


}

.ib__sc-form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #adadad;
  outline: 0;
 
}


.ib__sc__form-time-row{
  display: flex;
  justify-content: space-between;
}

.ib__sc__form-time-row> * + * {
  margin-left: 10px;
}

.ib__sc-label {
  font-size: 13px;
  margin-bottom: 5px;
  text-transform: capitalize;
 
}


/* Month Calander */
.ib__sc__table-out-week{
  -webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
  
}


.ib__sc__table-month{
   border-spacing: 0;
   z-index: 1003;
   width: 100%;
  }
  .ib__sc__table-td-month{
  
    
    text-align: center;
    position: relative;
  }
  .ib__sc__table-td__day_cell{
 
    padding: 10px;
    width: 100%;
    height: 100%;
  }

  .ib__sc_month_day {
 
    color: #bcbcbc;
    font-weight: 600;
    position: absolute;
    font-size: 1em;
    line-height: 1em;
    right: 5px;
    bottom: 5px;
}

  table.ib__sc__table-month { border: none; border-collapse: collapse; }
table.ib__sc__table-month td { border-right: 1px solid #dfdfdf; }
table.ib__sc__table-month td:first-child { border-left:  1px solid #dfdfdf; }
table.ib__sc__table-month tr{ border-bottom: 1px solid #dfdfdf;}

.ib__sc__month-date{
  display: flex;
  justify-content: center;
  margin-bottom: 1.5em;

}
.ib__sc__month-date-btn-group{
  display: flex;
  justify-content: center;
  border: 1px solid #e8e8e8;
  padding: 5px;
  border-radius: 4px;
}

.ib__sc__month-date__bt-text .ib__sc-form-control{
  width:auto;
  border: none;
}

.ib__sc__month-date__bt-prev,.ib__sc__month-date__bt-next{
  width: 1.8em;
  line-height: 1em;

}

 
 

.dragging-handler-month{

  position: absolute;

  top: 1px;
  bottom: 1px;
  width: 12px;
  z-index: 100;

  line-height: 10px;
  color: #777;
  font-size: .5em;
  align-items: center;
  opacity: .8;
  display: none;
  justify-content: center;
}


.dragging-handler-month.left{
  cursor: w-resize;
  left: 0px;
}
.dragging-handler-month.right{
  cursor: w-resize;
  right: 0px;
}



.ib__sc__event-box:hover .dragging-handler-month{
  display: flex;
}
.dragging .dragging-handler-month{
  display: flex;
}
.dragging-handler-month:hover{
  display: flex;
}
.ib__sc__event-wrapper.dragging{

  z-index: 3003;
}
.ib__sc__event-wrapper-month.overlap-start {
 left: -1px !important;

}
.ib__sc__event-wrapper-month.overlap-end{
  width: calc(100% + 2px) !important;


}

.ib__sc__event-wrapper-month.overlap-start .ib__sc__event-box {
  border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
}
  
.ib__sc__event-wrapper-month.overlap-end .ib__sc__event-box{
  border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
}


